<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.receptionist.mapper.TOrderMapper">

    <resultMap type="TOrder" id="TOrderResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="outTradeNo"    column="out_trade_no"    />
        <result property="content"    column="content"    />
        <result property="address"    column="address"    />
        <result property="orderTime"    column="order_time"    />
        <result property="reserveTime"    column="reserve_time"    />
        <result property="amount"    column="amount"    />
        <result property="img"    column="img"    />
        <result property="status"    column="status"    />
        <result property="type"    column="type"    />
        <result property="receptionId"    column="reception_id"    />
        <result property="receptionName"    column="reception_name"    />
        <result property="receptionTel"    column="reception_tel"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="comment"    column="comment"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTOrderVo">
        select id, title, out_trade_no, content, address, order_time, reserve_time, amount, img, status, type, reception_id, reception_name, reception_tel, pay_status, comment, create_by, create_time, update_by, update_time, remark from t_order
    </sql>

    <select id="selectTOrderList" parameterType="TOrder" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="outTradeNo != null  and outTradeNo != ''"> and out_trade_no = #{outTradeNo}</if>
            <if test="orderTime != null "> and order_time = #{orderTime}</if>
            <if test="reserveTime != null "> and reserve_time = #{reserveTime}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
        </where>
    </select>

    <select id="selectTOrderById" parameterType="Long" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertTOrder" parameterType="TOrder" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="outTradeNo != null">out_trade_no,</if>
            <if test="content != null">content,</if>
            <if test="address != null">address,</if>
            <if test="orderTime != null">order_time,</if>
            <if test="reserveTime != null">reserve_time,</if>
            <if test="amount != null">amount,</if>
            <if test="img != null">img,</if>
            <if test="status != null">status,</if>
            <if test="type != null">type,</if>
            <if test="receptionId != null">reception_id,</if>
            <if test="receptionName != null">reception_name,</if>
            <if test="receptionTel != null">reception_tel,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="comment != null">comment,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="outTradeNo != null">#{outTradeNo},</if>
            <if test="content != null">#{content},</if>
            <if test="address != null">#{address},</if>
            <if test="orderTime != null">#{orderTime},</if>
            <if test="reserveTime != null">#{reserveTime},</if>
            <if test="amount != null">#{amount},</if>
            <if test="img != null">#{img},</if>
            <if test="status != null">#{status},</if>
            <if test="type != null">#{type},</if>
            <if test="receptionId != null">#{receptionId},</if>
            <if test="receptionName != null">#{receptionName},</if>
            <if test="receptionTel != null">#{receptionTel},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="comment != null">#{comment},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTOrder" parameterType="TOrder">
        update t_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="content != null">content = #{content},</if>
            <if test="address != null">address = #{address},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
            <if test="reserveTime != null">reserve_time = #{reserveTime},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="img != null">img = #{img},</if>
            <if test="status != null">status = #{status},</if>
            <if test="type != null">type = #{type},</if>
            <if test="receptionId != null">reception_id = #{receptionId},</if>
            <if test="receptionName != null">reception_name = #{receptionName},</if>
            <if test="receptionTel != null">reception_tel = #{receptionTel},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOrderById" parameterType="Long">
        delete from t_order where id = #{id}
    </delete>

    <delete id="deleteTOrderByIds" parameterType="String">
        delete from t_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>